<!--<div class="container d-flex justify-content-center mt-50 mb-50">
  <div class="row">
      <div class="col-md-12 mt-2">
          <div class="card">
              <div class="card-body">
                  <div class="card-img-actions"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
              </div>
              <div class="card-body bg-light text-center">
                  <div class="mb-2">
                      <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a> </h6> <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
                  </div>
                  <h3 class="mb-0 font-weight-semibold">$250.99</h3>
                  <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                  <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
              </div>
          </div>
      </div>

  </div>
</div>-->


<div class="container px-0">
  <nav class="navbar navbar-expand-lg navbar-light border-bottom ">
      <div class="container-fluid"> <a class="navbar-brand" href="#">Inicio</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="fas fa-bars"></span> </button>

      </div>
  </nav>
  <div class="row">
      <div class="col-lg-8 border-end">
          <div class="pic"> <img src="{{producto?.imagen}}" alt=""> </div>
      </div>
      <div class="col-lg-4 ps-0">
          <div class="content">
              <div class="content-head">
                  <div class="d-flex align-items-center justify-content-between ">
                      <p class="h-1 mb-0">{{producto?.nombre}}</p>

                  </div>
                  <p class="text-white mb-3"><span class="textmuted">Puja actual        </span> {{producto?.precio}}</p>
              </div>
              <div class="content-body">
                  <div>
                      <div class="topnav mb-3">
                          <div class="d-flex px-1 border-bottom"> <a href="#" class="active textmuted">Detalles</a> </div>
                      </div>
                      <div class="text-white">
                          <p>{{producto?.descripcion}}</p>

                      </div>
                      <div class=" text-white d-flex align-items-center justify-content-between">
                          <div class="d-flex flex-column">
                              <p class="textmuted mb-2">Creador</p>
                              <div class=" d-flex align-items-center justify-content-between content-img">
                                  <div class="box-img">  <span class="fas fa-shield-alt"></span> </div>
                                  <p class="mb-0 ms-3">Antoni Gaudí</p>
                              </div>
                          </div>
                          <div class="d-flex flex-column">
                              <p class="textmuted mb-2">Coleccion</p>
                              <div class=" d-flex align-items-center justify-content-between content-img">
                                  <p class="mb-0 ms-3">Edificios</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="content-footer">
                  <div class="d-flex align-items-center justify-content-between mt-3">
                      <div class="d-flex flex-column text-white">
                          <p class="mb-2 textmuted">Precio mínimo</p>
                          <p class="mb-0 bid">{{producto?.precio}}</p>
                      </div>
                      <div class="d-flex flex-column text-white">
                          <p class="mb-2 textmuted">Disponible hasta</p>
                          <p class="mb-0 bid">2:20:16</p>
                      </div>
                  </div>

                    <div>
                      <form [formGroup]="precioForm" (ngSubmit)="onSubmit()">

                        <input style="width: 120px;" id="number" type="number" min="{{producto?.precio}}" formControlName="productosPrecio"><br><br>

                        <button type="button" class="btn btn-warning btn-block btn-lg" type="submit">PUJAR</button>

                        </form>

                      </div>
                  <div class="btn btn-primary w-100 my-4">PUJAR</div>


              </div>
          </div>
      </div>
  </div>
</div>
