



<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
      <img class="d-block w-100" src="/assets/fondo.jpeg" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Antoni Gaudí</h1>
          <p>La carrera de Antoni Gaudí fue un proceso de reflexión y análisis de diferentes estilos arquitectónicos que lo preparó para una nueva arquitectura, entre la tradición y la modernidad, hacia un lenguaje formal propio y singular.</p>
          <!--<p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>-->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/fondo2.jpg" alt="First slide">

      <div class="container">
        <div class="carousel-caption">
          <!--<h1>Another example headline.</h1>-->
          <p>«Yo tengo esa calidad de sentir, de ver el espacio porque soy hijo de calderero. El calderero es un hombre que con una superficie forma un volumen; ve el espacio antes de comenzar a trabajar.»</p>
          <!--<p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>-->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/fondo3.jpg" alt="First slide">

      <div class="container">
        <div class="carousel-caption text-end">
          <!--<h1>One more for good measure.</h1>-->
          <p>«Los que quieran hacer arquitectura deben poseer destacables aptitudes y una fuerte disciplina.» El arquitecto es «el hombre sintético, que ve las cosas claramente en conjunto antes de se realicen, que sitúa y liga los elementos en su relación plástica y en la distancia justa, así como la calidad estática y el sentido policromo.» </p>
          <!--<p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>-->
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
