<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">{{nombre}}</h2>
      <p class="lead">{{descripcion}}</p>
      <p><a class="btn btn-lg btn-primary" href="http://localhost:4200/compra/{{id}}">Pujar</a></p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src={{imagen}} alt="casa botines" class="rounded float-left" width="75%" height="75%">

    </div>
  </div>
</div>
<hr class="featurette-divider">
